
.note_header{
    background-color: white;
    align-items: center;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: lightgray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}