.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg);
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: var(--light-shadow1);
    margin-bottom: 15px;


    .title {
      color: var(--main-color-text);
      font-weight: semi-bold;
      }

      .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--main-color-text);
        cursor: pointer;

        .nav-bg {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: var(--soft-bg);
            padding: 10px;
            border-radius: 10px;
          }

          .icons{
            display: flex;
            gap: 20px;
          }
      }
}